/******************* COLORS ************************/
$primary-color: #ff6060;
$light-grey: #f6f6f6;
$dark-grey: #c4c4c4;
$back-img: #c7bebe;
$blue-tag: #3282f7;
$green-tag: #68d9a4;
$red-tag: #ed6454;
$error: #d04f4f;

/******************* Sorter ************************/
$num-menu: 3;
$color: white;
$timing: 0.25s;
