@charset "UTF-8";
/******************* COLORS ************************/
/******************* Sorter ************************/
/******************* Global Flex ************************/
/******************* Like Icon ************************/
/******************* Center of the page ************************/
/******************* Photographer Info ************************/
/******************* Accessibility ************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap");
body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
body #root {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

/*:focus-visible {
    outline: 3px solid $color-pri-dark;
    border-radius: 10px;
  }*/
body {
  font-family: "Montserrat", "DM Sans", sans-serif;
  font-size: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

/**************** Bannière ****************/
.banner-container {
  background-color: #c4c4c4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  height: 223px;
  flex-shrink: 0;
}
.banner-container .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(20%);
  /* Chrome, Safari, Opera */
  filter: brightness(90%);
  border-radius: 20px;
}
.banner-container .banner-text {
  position: absolute;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .banner-container {
    height: 111px;
  }
  .banner-container .banner-text {
    font-size: 24px;
  }
}
@media screen and (max-width: 475px) {
  .banner-container .banner-text {
    font-size: 18px;
  }
}
/**************** Gallery ****************/
.gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #f6f6f6;
  border-radius: 20px;
  flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
  .gallery-container {
    gap: 20px;
    padding: 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/**************** Apartment Info ****************/
#apartmentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
}
#apartmentInfo h1 {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
#apartmentInfo p {
  margin-top: 10px;
  font-size: 18px;
  color: #ff6060;
  margin-bottom: 30px;
}
#apartmentInfo .tags {
  margin-top: 10px;
}
#apartmentInfo .tags span {
  font-size: 14px;
  padding: 5px 25px 5px 25px;
  margin-right: 10px;
  border-radius: 10px;
  color: white;
  background-color: #ff6060;
}
#apartmentInfo .right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#apartmentInfo .right-block .host {
  display: flex;
  flex-direction: row;
}
#apartmentInfo .right-block .host p {
  width: min-content;
  text-align: right;
  font-size: 18px;
  margin-right: 10px;
}
#apartmentInfo .right-block .host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#apartmentInfo .right-block .stars {
  margin-top: 19px;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  #apartmentInfo {
    flex-direction: column;
    align-items: normal;
  }
  #apartmentInfo h1 {
    font-size: 18px;
  }
  #apartmentInfo p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #apartmentInfo .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  #apartmentInfo .tags span {
    font-size: 10px;
  }
  #apartmentInfo .right-block {
    margin-top: 10px;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
  }
  #apartmentInfo .right-block .host p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  #apartmentInfo .right-block .host img {
    width: 32px;
    height: 32px;
  }
  #apartmentInfo .right-block .stars {
    margin-top: 10px;
    width: 15px;
    height: 15px;
  }
}
/**************** Card ****************/
.card-container {
  background-color: #c4c4c4;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  width: 340px;
  height: 340px;
}
.card-container .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-container .card-title {
  position: absolute;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .card-container {
    width: 85.5vw;
    height: 255px;
  }
}
@media screen and (max-width: 475px) {
  .banner-container .banner-text {
    font-size: 18px;
  }
}
/**************** Description ****************/
#descriptions {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}
#descriptions .left-description {
  width: 50%;
  border-radius: 10px;
}
#descriptions .right-description {
  width: 50%;
  border-radius: 10px;
}

.collapse-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.collapse-container .collapse-title {
  position: relative;
  background-color: #ff6060;
  width: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collapse-container .collapse-title .not-rotate-arrow {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.collapse-container .collapse-title .rotate-arrow {
  transform: rotate(-180deg);
  transition: 0.5s ease-in-out;
}
.collapse-container .collapse-content {
  width: 100%;
  padding: 45px 25px 30px 25px;
  margin-top: -10px;
  font-size: 18px;
  font-weight: 400;
  color: #ff6060;
  background-color: #f6f6f6;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #descriptions {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  #descriptions .left-description {
    width: 100%;
  }
  #descriptions .right-description {
    width: 100%;
  }

  .collapse-container .collapse-title {
    font-size: 13px;
  }
  .collapse-container .collapse-title .rotate-arrow {
    width: 18px;
  }
  .collapse-container .collapse-content {
    padding: 20px 10px 10px 10px;
    font-size: 12px;
  }
}
#lightbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  mix-blend-mode: normal;
}
#lightbox .chevron {
  width: 47px;
  height: 70px;
  position: absolute;
  fill: white;
  cursor: pointer;
  stroke: rgba(0, 0, 0, 0.507);
  stroke-width: 10;
}
#lightbox .left {
  left: 70px;
}
#lightbox .right {
  right: 70px;
}
#lightbox .lightbox-image {
  width: 85vw;
  height: 45.5vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 25px;
  display: block;
}
#lightbox .image-index {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-shadow: black 1px 1px;
}

@media screen and (max-width: 768px) {
  #lightbox .chevron {
    width: 20px;
    height: 30px;
  }
  #lightbox .left {
    left: 5px;
  }
  #lightbox .right {
    right: 5px;
  }
  #lightbox .lightbox-image {
    width: 85vw;
    height: 30vh;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  #lightbox .image-index {
    display: none;
  }
}
/**************** Home header ****************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}
header .logo {
  width: 240px;
  height: 100px;
}
header nav a {
  font-size: 24px;
  color: #ff6060;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
}
header .active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header a .logo {
    width: 160px;
    height: 80px;
  }
  header nav a {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  header nav a {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 10px;
  }
}
/**************** Footer ****************/
footer {
  width: 100%;
  height: 209px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
  padding: 100px;
  margin-top: 30px;
  flex-shrink: 0;
}
footer .footer-text {
  color: white;
  font-size: 24px;
}
footer .footer-logo {
  width: 115px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  footer .footer-text {
    font-size: 12px;
    width: max-content;
  }
  footer .footer-logo {
    margin-bottom: 30px;
  }
}
#Apropos {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
}

/**************** 404 Error ****************/
#error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  margin-top: -100px;
  flex: 1 0 auto;
  text-align: center;
}
#error404 h1 {
  font-size: 288px;
  margin-bottom: 10px;
}
#error404 a {
  margin-top: 100px;
  text-decoration: none;
  color: #ff6060;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  #error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff6060;
    margin-top: 0px;
    flex: 1 0 auto;
  }
  #error404 h1 {
    font-size: 96px;
    margin-bottom: 10px;
  }
  #error404 h2 {
    font-size: 18px;
  }
  #error404 a {
    font-size: 14px;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
