#lightbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  mix-blend-mode: normal;
  & .chevron {
    width: 47px;
    height: 70px;
    position: absolute;
    fill: white;
    cursor: pointer;
    stroke: rgba(0, 0, 0, 0.507);
    stroke-width: 10;
  }
  & .left {
    left: 70px;
  }
  & .right {
    right: 70px;
  }
  & .lightbox-image {
    width: 85vw;
    height: 45.5vh;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 25px;
    display: block;
  }
  & .image-index {
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: black 1px 1px;
  }
}

@media screen and (max-width: 768px) {
  #lightbox {
    & .chevron {
      width: 20px;
      height: 30px;
    }
    & .left {
      left: 5px;
    }
    & .right {
      right: 5px;
    }
    & .lightbox-image {
      width: 85vw;
      height: 30vh;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }
    & .image-index {
      display: none;
    }
  }
}
